<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {    
      var x1 = new Array();
      var y1 = new Array();
      var x2 = new Array();
      var y2 = new Array();
      
      var gauge = new RadialGauge({
          renderTo: 'gaugeDiv',
          width: 300,
          height: 300,
          units: "Km/h",
          minValue: -1,
          maxValue: 1,
          majorTicks: [
              "-1",
              "-0.9",
              "-0.8",
              "-0.7",
              "-0.6",
              "-0.5",
              "-0.4",
              "-0.3",
              "-0.2",
              "-0.1",              
              "0",
              "0.1",
              "0.2",
              "0.3",
              "0.4",
              "0.5",
              "0.6",
              "0.7",
              "0.8",
              "0.9",
              "1.0"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0.5,
                  "to": 1,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge.draw();
      gauge.value = 0;
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        
        if (msg.data > 500) {
          $('#log').append('#'+msg.count+': Photosensor value '+msg.data*0.1+'<br>').html(); 
        }

        if (msg.data < 500) {
          $('#log').append('#'+msg.count+': Distance '+msg.data+' cm<br>').html(); 
        }
        //$('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); 
        var data = msg.data.split(',');

        if (msg.data > 500) {
          y1.push(parseFloat(data*0.1));
        }

        if (msg.data < 500) {
          y2.push(parseFloat(data));
        }
        
        x1.push(parseFloat(msg.count));
        //y1.push(parseFloat(data[0]));
        x2.push(parseFloat(msg.count));
        //y2.push(parseFloat(data[1]));
  
        var trace1 = {
          x: x1,
          y: y1,
          name: 'Photosensor values (/10)'
        };

        var trace2 = {
          x: x2,
          y: y2,
          name: 'Distance [cm]'
        }; 
        
        
        var layout = {
            title: 'Data',
            xaxis: {
              title: 'time [s]',
            },
            yaxis: {
              title: 'sensor values',
              //range: [-1,1]
            },
            legend: {
              orientation: 'h',
              y: 1.2
            }
          };
          
        //console.log("x1: ", trace1.x);
        //console.log("y1: ", trace1.y);
        //console.log("x2: ", trace2.x);
        //console.log("y2: ", trace2.y);  
        
        var traces = [trace1, trace2];
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
        //addTraces    
        //gauge.value = msg.data; 
        gauge.value = parseFloat(msg.data);
          
        });
        
        
      //});

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#buttonVal').click(function(event) {
          //console.log($('#buttonVal').val());
          socket.emit('click_event', {value: $('#buttonVal').val()});
          return false; });
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
    </script>
 </head>
 <body>
  <h1>POIT zadanie 2023 - monitoring vzdialenosti a svetla</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
    <input type="submit" value="Send">
  </form>
  <button id="buttonVal" type="submit" value="send">Send value</button>
  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <div id="plotdiv" style="width:600px;height:450px;"></div>
  <div id="gaugeDiv" style="width:300px;height:300px;"></div>
  <h2>Receive:</h2>
  <div id="log"></div>
 </body>
</html>
