<!doctype html>                                   
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skuskove zadanie</title>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     
   //https://canvas-gauges.com/documentation/user-guide/configuration
     
      $(document).ready(function() {    
      var x1 = new Array();
      var y1 = new Array();
      var x2 = new Array();
      var y2 = new Array();
      
      var gauge2 = new RadialGauge({
          renderTo: 'canvasID2',
          width: 300,
          height: 300,
          units: "[cm]",
          minValue: 0,
          maxValue: 110,
          majorTicks: [
              "0",
              "10",
              "20",
              "30",
              "40",
              "50",
              "60",
              "70",
              "80",
              "90",
              "100",
              "110"
          ],
          minorTicks: 2,
          strokeTicks: true,
          
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge2.draw();
      gauge2.value = 0;
      
      var gauge1 = new RadialGauge({
          renderTo: 'canvasID1',
          width: 300,
          height: 300,
          units: "[-]",
          minValue: 0,
          maxValue: 110,
          majorTicks: [
              "0",
              "10",
              "20",
              "30",
              "40",
              "50",
              "60",
              "70",
              "80",
              "90",
              "100",
              "110"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 80,
                  "to": 110,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge1.draw();
      gauge1.value = 0;
      
      
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        
        if (msg.data > 500) {
          $('#log').append('#'+msg.count+': Light intensity '+msg.data*0.1+'<br>').html(); 
        }

        if (msg.data < 500) {
          $('#log').append('#'+msg.count+': Distance '+msg.data+' cm<br>').html(); 
        }
        //$('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); 
        var data = msg.data.split(',');

        if (msg.data > 500) {
          y1.push(parseFloat(data*0.1));
        }

        if (msg.data < 500) {
          y2.push(parseFloat(data));
        }
        
        x1.push(parseFloat(msg.count));
       
        x2.push(parseFloat(msg.count));
        
  
        var trace1 = {
          x: x1,
          y: y1,
          name: 'Light intensity (/10)'
        };

        var trace2 = {
          x: x2,
          y: y2,
          name: 'Distance [cm]'
        }; 
        
        
        var layout = {
            title: 'Data',
            xaxis: {
              title: 'time [s]',
            },
            yaxis: {
              title: 'sensor values',
              //range: [-1,1]
            },
            legend: {
              orientation: 'h',
              y: 1.2
            }
          };
               
        
        
        if (msg.data > 110) {
         gauge1.value = parseFloat(msg.data/10);
         gauge1.draw();
        }

        if (msg.data < 110) {
          gauge2.value = parseFloat(msg.data);
          gauge2.draw();
        }
        
        var traces = [trace1, trace2];
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
        //gauge.value = parseFloat(msg.data);
          
        });
        

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#buttonVal').click(function(event) {
          //console.log($('#buttonVal').val());
          socket.emit('click_event', {value: $('#buttonVal').val()});
          return false; });
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
    </script>
    
    
    <!-- http://jqueryui.com/tabs/#mouseover -->
    <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs({
          event: "mouseover"
        });
      } );
    </script>
  </head>
  <body>
    
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Numericky vypis hodnot</a></li>
        <li><a href="#tabs-2">Graf</a></li>
        <li><a href="#tabs-3">Cifernik</a></li>
      </ul>
      <div id="tabs-1">
        <h1>POIT zadanie 2023 - monitoring vzdialenosti a intenzity svetla</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action='#'>
  
  </form>
  
  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <h2>Receive:</h2>
  <div id="log"></div>
      </div>
      <div id="tabs-2">
        <div id="plotdiv" style="width:600px;height:450px;"></div>
      </div>
      <div id="tabs-3">
        <canvas id="canvasID1"></canvas>     
        <canvas id="canvasID2"></canvas>     </div>
      </div>
    </div>
 
  </body>
</html>




